$bubble-color: #02a9ea;

* {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
}
body {
	margin: 0;
	color: #444;
	opacity: 0;
	transition: opacity 0.3s ease-in;
}
.container {
	min-height: 80vh;
	margin: 0 150px;
	padding: 10vh 8vw;
	box-shadow: 0 0 10px #aaa;
	transition: all 0.1s ease-in-out;
	@media screen and (max-width: 1480px) {
		margin: 0;
		padding: 10vh 8vw;
	}
	@media screen and (max-width: 1250px) {
		padding: 10vh 10vw;
	}
	@media screen and (max-width: 780px) {
		padding: 10vh 20px;
	}
}

h1,
h2 {
	color: $bubble-color;
}
header {
	color: $bubble-color;
	@media screen and (max-width: 780px) {
		text-align: center;
	}
}

.objective {
	display: none;
}
aside {
	width: 50%;
	&.left {
		float: left;
	}

	&.right {
		float: right;
	}
	@media screen and (max-width: 1080px) {
		width: 100%;
		&.left {
			float: none;
		}

		&.right {
			float: none;
		}		
	}
}


.clear {
	clear: both;
}

.skill { 
	display: inline-block;
	font-size: 1.1em;
	padding: 10px;
	.comfort {
		// color: $bubble-color;
		user-select: none;
		span {
			font-size: 0.7em;
			display: block;
		}
		.bubble {
			color: transparent;
			border: 1px solid $bubble-color;
			margin-right: 1px;
			display: inline-block;
			width: 10px;
			height: 10px;
			opacity: 0.5;
			&.bubble-active {
				background-color: $bubble-color;
				color: transparent;
				opacity: 1;
			}

			&:first-of-type {
				border-bottom-left-radius: 100%;
			}

			&:last-of-type {
				border-top-right-radius: 100%;
			}
		}
	}
	@media screen and (max-width: 1080px) {
		padding: 5px 5px;
	}
	@media screen and (max-width: 780px) {
		padding: 5px 0;
	}
}

.experience {
	.title, .dates {
		font-size: 0.8em;
		color: #444;
	}

	ul {
		list-style: square;
		margin: 10px 0;
		li {
			color: #444;
			font-size: 0.8em;
		}
	}
}

.school {
	margin-bottom: 10px;
	.dates {
		font-size: 0.8em;
		color: #444;
	}
}

footer {
	position: relative;
	min-height: 10vh;
	.contact-info {
		transform: translate(-50%, -50%);
		position: absolute;
		top: 50%;
		left: 50%;
		@media screen and (max-width: 1080px) {
			text-align: center;
		}
		a {
			text-decoration: none;
			color: $bubble-color;
			@media screen and (max-width: 1080px) {
				display: block;
			}
			&:hover {
				opacity: .5;
			}
		}

		span {
			@media screen and (max-width: 1080px) {
				display: none;
			}
		}
	}
}

@media print {
	html,
	body {
		margin: 0mm;		
		padding: 0;
	}
	.header-title {
		font-size: 8mm;
	}
	.section-title {
		font-size: 5mm;
	}
	.container {
		box-shadow: none;
		padding: 0;
	}
	.skill {
		display: block;
		padding: 0;
		.comfort {
			display: none;
		}
	}
	footer {
		.github, .codepen, span  {
			display: none;
		}
		text-align: center;
	}
}