* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

body {
  margin: 0;
  color: #444;
}

.container {
  min-height: 80vh;
  margin: 0 150px;
  padding: 10vh 8vw;
  -webkit-box-shadow: 0 0 10px #aaa;
          box-shadow: 0 0 10px #aaa;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

@media screen and (max-width: 1480px) {
  .container {
    margin: 0;
    padding: 10vh 8vw;
  }
}

@media screen and (max-width: 1250px) {
  .container {
    padding: 10vh 10vw;
  }
}

@media screen and (max-width: 780px) {
  .container {
    padding: 10vh 20px;
  }
}

h1,
h2 {
  color: #02a9ea;
}

header {
  color: #02a9ea;
}

@media screen and (max-width: 780px) {
  header {
    text-align: center;
  }
}

.objective {
  display: none;
}

aside {
  width: 50%;
}

aside.left {
  float: left;
}

aside.right {
  float: right;
}

@media screen and (max-width: 1080px) {
  aside {
    width: 100%;
  }
  aside.left {
    float: none;
  }
  aside.right {
    float: none;
  }
}

.clear {
  clear: both;
}

.skill {
  display: inline-block;
  font-size: 1.1em;
  padding: 10px;
}

.skill .comfort {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.skill .comfort span {
  font-size: 0.7em;
  display: block;
}

.skill .comfort .bubble {
  color: transparent;
  border: 1px solid #02a9ea;
  margin-right: 1px;
  display: inline-block;
  width: 10px;
}

.skill .comfort .bubble.bubble-active {
  background-color: #02a9ea;
  color: transparent;
}

.skill .comfort .bubble:first-of-type {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.skill .comfort .bubble:last-of-type {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

@media screen and (max-width: 1080px) {
  .skill {
    padding: 5px 5px;
  }
}

@media screen and (max-width: 780px) {
  .skill {
    padding: 5px 0;
  }
}

.experience .title, .experience .dates {
  font-size: 0.8em;
  color: #444;
}

.experience ul {
  list-style: square;
  margin: 10px 0;
}

.experience ul li {
  color: #444;
  font-size: 0.8em;
}

.school {
  margin-bottom: 10px;
}

.school .dates {
  font-size: 0.8em;
  color: #444;
}

footer {
  position: relative;
  min-height: 10vh;
}

footer .contact-info {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
}

@media screen and (max-width: 1080px) {
  footer .contact-info {
    text-align: center;
  }
}

footer .contact-info a {
  text-decoration: none;
  color: #02a9ea;
}

@media screen and (max-width: 1080px) {
  footer .contact-info a {
    display: block;
  }
}

footer .contact-info a:hover {
  opacity: .5;
}

@media screen and (max-width: 1080px) {
  footer .contact-info span {
    display: none;
  }
}
